Exercise_plaf/Service References/Servicestu/Service_stu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Exercise_DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Exercise_DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclass_student">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="class_student" nillable="true" type="tns:class_student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclass_student" nillable="true" type="tns:ArrayOfclass_student" />
  <xs:complexType name="class_student">
    <xs:sequence>
      <xs:element minOccurs="0" name="classid" type="xs:int" />
      <xs:element minOccurs="0" name="classno" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="studentid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="class_student" nillable="true" type="tns:class_student" />
  <xs:complexType name="ArrayOfStudInfo1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudInfo1" nillable="true" type="tns:StudInfo1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudInfo1" nillable="true" type="tns:ArrayOfStudInfo1" />
  <xs:complexType name="StudInfo1">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="studentid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudInfo1" nillable="true" type="tns:StudInfo1" />
  <xs:complexType name="ArrayOfStudenttemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Studenttemp" nillable="true" type="tns:Studenttemp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudenttemp" nillable="true" type="tns:ArrayOfStudenttemp" />
  <xs:complexType name="Studenttemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="classid" type="xs:int" />
      <xs:element minOccurs="0" name="courseid" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no" type="xs:int" />
      <xs:element minOccurs="0" name="pd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="studentid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Studenttemp" nillable="true" type="tns:Studenttemp" />
</xs:schema>