Exercise_plaf/Service References/Servicestu/Service_stu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exercise_DAL" />
  <xs:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB_service" />
  <xs:element name="Addstu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Exercise_DAL" minOccurs="0" name="c_studl" nillable="true" type="q1:ArrayOfclass_student" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Exercise_DAL" minOccurs="0" name="studentl" nillable="true" type="q2:ArrayOfStudInfo1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddstuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddstuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchstubyclassid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchstubyclassidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Exercise_DAL" minOccurs="0" name="searchstubyclassidResult" nillable="true" type="q3:ArrayOfStudenttemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DB_service" minOccurs="0" name="composite" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DB_service" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>