Exercise_plaf/Service References/Servicestu/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Exercise_DAL" />
      <xsd:import schemaLocation="http://localhost:65271/Service_stu.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DB_service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_stu_Addstu_InputMessage">
    <wsdl:part name="parameters" element="tns:Addstu" />
  </wsdl:message>
  <wsdl:message name="IService_stu_Addstu_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddstuResponse" />
  </wsdl:message>
  <wsdl:message name="IService_stu_searchstubyclassid_InputMessage">
    <wsdl:part name="parameters" element="tns:searchstubyclassid" />
  </wsdl:message>
  <wsdl:message name="IService_stu_searchstubyclassid_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchstubyclassidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_stu_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_stu_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_stu">
    <wsdl:operation name="Addstu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_stu/Addstu" message="tns:IService_stu_Addstu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_stu/AddstuResponse" message="tns:IService_stu_Addstu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchstubyclassid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_stu/searchstubyclassid" message="tns:IService_stu_searchstubyclassid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_stu/searchstubyclassidResponse" message="tns:IService_stu_searchstubyclassid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_stu/GetDataUsingDataContract" message="tns:IService_stu_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_stu/GetDataUsingDataContractResponse" message="tns:IService_stu_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_stu" type="tns:IService_stu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addstu">
      <soap:operation soapAction="http://tempuri.org/IService_stu/Addstu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchstubyclassid">
      <soap:operation soapAction="http://tempuri.org/IService_stu/searchstubyclassid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService_stu/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService_stu" binding="tns:BasicHttpBinding_IService_stu">
      <soap:address location="http://localhost:65271/Service_stu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>